<%- include('bootheader') -%>
<%- include('menubar') -%>



<div class="gradient">
  <br>
  <h1>
    Admin Application
  </h1>
  <h4>
    Do you want to become an Admin? You may register to become one and help make this community even better!
  </h4>
  <p>
    Requirements:
  </p>
  <ul>
    <li>At least 16 years old</li>
    <li>Have an active in the community for more than a month</li>
    <li>Like playing games and having fun!</li>
  </ul>
</div>
<hr>

<% if (loggedIn) { %>

<body>
  <div class="row">
    <div class="col">   

      <form method="post" action="/saveAdminApplication">
        
        <h4> What is your age? </h4>
        <input class="textcolor" type="number" name="age"> <br> <br>
    
        <h4> How has your expererience been while playing on Xolber? </h4>
        <textarea class="textcolor" name="experience" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
      
        <h4> What would you offer as an Admin? </h4> 
        <textarea class="textcolor" name="offer" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
        
        <h4> Why do you want to be an Admin? </h4>
        <textarea class="textcolor" name="want" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
     </div>

     <div class="col"> 
        <h4> What would you rate Xolbor from 0-10? </h4>
        <select class="textcolor" name="rate" style="border-color: #FA0439">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
       </select> <br> <br>
       
        <h4> In your opinion, what is the most important trait of an Admin? </h4>
        <textarea class="textcolor" name="trait" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
      
        <h4> How would you change the website for the better? </h4>
        <textarea class="textcolor" name="change" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
       
        <h4> Do you have any previous responsibilities similar to this (not needed)? Elaborate if yes. </h4>
        <textarea class="textcolor" name="responsibilities" rows="10" cols="40" style="border-color: #FA0439"></textarea> <br> <br>
      </div>
    </div>
    <div class="row">
        <input class="buttoncolor" type="submit" value="Submit application">
    </div>
      </form>
  </div>
</body>

<hr>

<% } else { %>

<a href="/login">You must be logged in to submit an Admin Application.</a>

<% } %>

<%- include('bootfooter') -%>