<%- include('bootheader') -%>
<%- include('menubar') -%>

<hr>

<h5>
 <strong>All Games:</strong> 
</h5>

<div class="row">
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/find-the-number" id="game1">
        </a>
      </div>
    </section>
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/mafia" id="game2">
        </a>
      </div>
    </section>
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/quiz" id="game3">
        </a>
      </div>
    </section>
  </div>
</div>

<script>
  window.onload = function() { 
      if (window.deviceType == 0) {
        //Browser
        document.getElementById("game1").innerHTML = '<img src="https://www.learningaboutelectronics.com/images/Guess-a-number-from-1-to-10.png" height="275px" alt="Photo of find-the-number"><br><h4>Find the Number</h4>';
        document.getElementById("game2").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2FMafia.PNG?v=1594239307001" height="275px" alt="Photo of Mafia"><br><h4>Mafia</h4>';
        document.getElementById("game3").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2Fquiz?v=1594323737327" height="275px" alt="Photo of Quiz"><br><h4>Quiz</h4>'
      }
      if (window.deviceType == 1) {
        //Phone
        document.getElementById("game1").innerHTML = '<img src="https://www.learningaboutelectronics.com/images/Guess-a-number-from-1-to-10.png" height="175px" alt="Photo of find-the-number"><br><h4>Find the Number</h4>';
        document.getElementById("game2").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2FMafia.PNG?v=1594239307001" height="175px" alt="Photo of Mafia"><br><h4>Mafia</h4>';
        document.getElementById("game3").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2Fquiz?v=1594323737327" height="175px" alt="Photo of Quiz"><br><h4>Quiz</h4>'
      }
      if (window.deviceType == 2) {
        //Tablet
        document.getElementById("game1").innerHTML = '<img src="https://www.learningaboutelectronics.com/images/Guess-a-number-from-1-to-10.png" height="275px" alt="Photo of find-the-number"><br><h4>Find the Number</h4>';
        document.getElementById("game2").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2FMafia.PNG?v=1594239307001" height="275px" alt="Photo of Mafia"><br><h4>Mafia</h4>';
        document.getElementById("game3").innerHTML = '<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2Fquiz?v=1594323737327" height="275px" alt="Photo of Quiz"><br><h4>Quiz</h4>'
      }
    }
</script>

<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>