<!--
  I created a basic layout for the next game we do. I also did all the mapping and such in app.js and menubar.ejs - Sean G 7/6/20 7:00pm
-->

<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>
    Game 2
  </h1>
  <h3>
    Game Rules/Description
  </h3>
</div>

<body>
  <!--
     Code for game goes here.
  -->  
</body>

<%- include('bootfooter') -%>