<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Xolbor Games</h1>
  <p>~Not Roblox~</p>

<img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2FXOLBORLOGO.JPG?v=1594216142326" width="33%" alt="Logo" style="Filter= FlipH.">
<!--
  I can change the background color later. - Sean G
-->
  
</div>
<hr>

<h5>
 <strong>All Games:</strong> 
</h5>




<!--   this is the old code:
<img src="https://www.learningaboutelectronics.com/images/Guess-a-number-from-1-to-10.png" width="200" alt="Photo of find-the-number">

<ul>
  <li class="nav-item">
    <a class="nav-link" href="/find-the-number">Find The Number</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/game-2">Game 2</a>
  </li>
</ul>
-->

<div class="row">
  <div class="col">
    <a class="nav-link" href="/find-the-number">
      <img src="https://www.learningaboutelectronics.com/images/Guess-a-number-from-1-to-10.png" width="33%" alt="Photo of find-the-number">
      <br>
      <p class="tab">
        Find the Number
      </p>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" href="/game-2">
      <img src="https://cdn.vox-cdn.com/thumbor/DhSpDCsBeTS0fTEbv8OfqYBSvrg=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/63612751/acastro_190208_3223_game_streaming.0.jpg"
         width="33%" alt="Photo of second game">
      <br>
      <p class="tab">
        Game 2
      </p>
    </a>
  </div>
</div>


<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>