<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="gradient">
  <br>
  <br>
  <br>
  <h2>
    Play our gamez. We aren't roblox. We know where you live.
  </h2>
  <br>
  <br>
  <br>
</div>
<br>

<h5>
 <strong>Top Gamez:</strong> 
</h5>
<br>
<div class="row">
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/find-the-number" id="game1">
        </a>
      </div>
    </section>
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/mafia" id="game2">
        </a>
      </div>
    </section>
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/quiz" id="game3">
        </a>
      </div>
    </section>
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <a class="nav-link" href="/xolcraftControlslol" id="game4">
        </a>
      </div>
    </section>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>

<h5><strong>
  Gamez to be released:
</strong></h5>
<br>
<div class="row">
  <div class="col">
    <section class="parent">
      <div class="child">
        <p id="game5"></p>
      </div>
    </section>
  </div>
  <div class="col">
    
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <p id="game6"></p>
      </div>
    </section>
  </div>
  <div class="col">
    
  </div>
  <div class="col">
    <section class="parent">
      <div class="child">
        <p id="game7"></p>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col">
    <section class="parent">
      <div class="child">
        <p id="game8"></p>
      </div>
    </section>
  </div>
</div>


<script>
  window.onload = function() {
      if (window.deviceType == 0) {
        //Browser
        document.getElementById("game1").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Fnumer.jpg?v=1594823784670" height="275px" alt="Photo of find-the-number"><br>';
        document.getElementById("game2").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMafia2.PNG?v=1594920865936" height="275px" alt="Photo of Mafia"><br>';
        document.getElementById("game3").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Ficon-2425861_1280.png?v=1594920614362" height="275px" alt="Photo of Quiz"><br>';
        document.getElementById("game4").innerHTML = '<img class="fancyImage" src="https://pptcrafter.files.wordpress.com/2013/02/block-11.png" height="275px" alt="Photo of Minecraft"><br>';
        document.getElementById("game5").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2F162-1622313_car-top-down-view.png?v=1594909154176" height="275px" alt="Photo of Car"><br>';
        document.getElementById("game6").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMarble.PNG?v=1594915138396" height="275px" alt="Photo of Marble"><br>';
        document.getElementById("game7").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FTreasure%20Hunt.PNG?v=1594915167948" height="275px" alt="Photo of Treasure Hunt"><br>';
        document.getElementById("game8").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FSports.PNG?v=1594915142409" height="275px" alt="Photo of Sports"><br>';
      }
      if (window.deviceType == 1) {
        //Phone
        document.getElementById("game1").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Fnumer.jpg?v=1594823784670" height="175px" alt="Photo of find-the-number"><br>';
        document.getElementById("game2").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMafia2.PNG?v=1594920865936" height="175px" alt="Photo of Mafia"><br>';
        document.getElementById("game3").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Ficon-2425861_1280.png?v=1594920614362" height="175px" alt="Photo of Quiz"><br>';
        document.getElementById("game4").innerHTML = '<img class="fancyImage" src="https://pptcrafter.files.wordpress.com/2013/02/block-11.png" height="175px" alt="Photo of Minecraft"><br>';
        document.getElementById("game5").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2F162-1622313_car-top-down-view.png?v=1594909154176" height="175px" alt="Photo of Car"><br>';
        document.getElementById("game6").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMarble.PNG?v=1594915138396" height="175px" alt="Photo of Marble"><br>';
        document.getElementById("game7").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FTreasure%20Hunt.PNG?v=1594915167948" height="175px" alt="Photo of Treasure Hunt"><br>';
        document.getElementById("game8").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FSports.PNG?v=1594915142409" height="75px" alt="Photo of Sports"><br>';
      }
      if (window.deviceType == 2) {
        //Tablet
        document.getElementById("game1").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Fnumer.jpg?v=1594823784670" height="275px" alt="Photo of find-the-number"><br>';
        document.getElementById("game2").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMafia2.PNG?v=1594920865936" height="275px" alt="Photo of Mafia"><br>';
        document.getElementById("game3").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Ficon-2425861_1280.png?v=1594920614362" height="275px" alt="Photo of Quiz"><br>';
        document.getElementById("game4").innerHTML = '<img class="fancyImage" src="https://pptcrafter.files.wordpress.com/2013/02/block-11.png" height="275px" alt="Photo of Minecraft"><br>';
        document.getElementById("game5").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2F162-1622313_car-top-down-view.png?v=1594909154176" height="275px" alt="Photo of Car"><br>';
        document.getElementById("game6").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FMarble.PNG?v=1594915138396" height="275px" alt="Photo of Marble"><br>';
        document.getElementById("game7").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FTreasure%20Hunt.PNG?v=1594915167948" height="275px" alt="Photo of Treasure Hunt"><br>';
        document.getElementById("game8").innerHTML = '<img class="fancyImage" src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2FSports.PNG?v=1594915142409" height="175px" alt="Photo of Sports"><br>';
      }
    }
</script>

<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>