<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Xolbor Games</h1>
  <p>Not Roblox</p>
</div>
<hr>

<h2>
 <strong>All Games:</strong> 
</h2>

<ul>
  <li class="nav-item">
    <a class="nav-link" href="/find-the-number">Find The Number</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/game-2">Game 2</a>
  </li>
</ul>

<%- include('bootfooter') -%>