
<!--

<div class="jumbotron">
  <h1>Xolbor Games</h1>
  <p>~Not Roblox~</p>
</div>
<hr>

<h3> Sign In </h3>

Username
<input type="text" name="username" placeholder="Enter your username"> <br>

Password
<input type="password" name="password" placeholder="Enter your password"> <br>


-->

<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="row">
        <div class="col-sm-5">
            <h2>Login</h2>
            <form method="post" action="/login">
                Username: <input type="text"
                                 autocomplete="username"
                                 name="username"><br>
                Passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"><br>
                <input type="submit">
            </form>
        </div>
        <div class="col-sm-2" style="text-align:center">
            OR
        </div>
        <div class="col-sm-5">
            <h2>Signup</h2>
            <form method="post" action="/signup">
                Username: <input type="text" autocomplete="username" name="username"><br>
                Passphrase (at least five words long):
                   <input type="password" autocomplete="passphrase" name="passphrase"><br>
                Confirm passphrase:
                    <input type="password" name="passphrase2"><br>
                Email: <input type="email" autocomplete="email" name="email"<br> <br>
                <input type="submit">
            </form>
        </div>
    </div>


<%- include('bootfooter') -%>
