<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="https://cdn.glitch.com/fd8bca40-696a-4aba-af5e-c958c9967cc1%2FXOLBORLOGOLIGHT.png?v=1594238117359" width="50%" alt="Logo" style="Filter= FlipH."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h3>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/games" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            
            <a class="dropdown-item" href="/games">Game List</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="/find-the-number">Find The Number</a>
            
            <a class="dropdown-item" href="/mafia">Mafia</a>
            
            <a class="dropdown-item" href="/quiz">Quiz</a>
            
          </div>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/chat-room">Chat Room</a>
        </li>
        
        <% if (loggedIn && isAdmin) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/games" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            
              <a class="dropdown-item" href="/admin">Admin</a>
            
          <div class="dropdown-divider"></div>
            
              <a class="dropdown-item" href="/showUsers">Show Users</a>
              
              <a class="dropdown-item" href="/showformdata">Survey Data</a>
           </div>
        </li> 
        <% } %>
      
        <% if (!loggedIn) {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login/Signup</a>
          </li>
    
        
        
        <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/profile" role="button" aria-haspopup="true" aria-expanded="false"> <%= username %> </a> 
          <div class="dropdown-menu">
            
            <a class="dropdown-item" href="/profile">Profile</a>
         
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
        <% } %>
      
      </ul>
    </h3>
  </div>
</nav>