<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, .01)">
  <a class="navbar-brand" href="/"><img src="https://cdn.glitch.com/323104cc-8422-4df6-b528-2e7418a754c3%2Fthumbnails%2FXolbor%20logo.png?1594674780632" width="100%" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h3>
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fancy" data-toggle="dropdown" href="/games" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            
            <a class="dropdown-item fancy" href="/games">Game List</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item fancy" href="/find-the-number">Find The Number</a>
            
            <a class="dropdown-item fancy" href="/mafia">Mafia</a>
            
            <a class="dropdown-item fancy" href="/quiz">Quiz</a>
            
            <a class="dropdown-item fancy" href="/xolcraftControlslol">Xolcraft</a>
            
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link fancy" href="/forum">Forum</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link fancy" href="/chat-room">Chat Room</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link fancy" href="/adminApplication">Apply for Admin</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link fancy" href="/about-us">About Us</a>
        </li>
        
        <% if (loggedIn && isAdmin) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fancy" data-toggle="dropdown" href="/games" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            
              <a class="dropdown-item fancy" href="/admin">Admin</a>
            
          <div class="dropdown-divider"></div>
            
              <a class="dropdown-item fancy" href="/showUsers">Show Users</a>
              
              <a class="dropdown-item fancy" href="/showformdata">Survey Data</a>
            
              <a class="dropdown-item fancy" href="/showAdminApplicationData">Admin Application Data</a>
           </div>
        </li> 
  
        <% } %>
      
        <% if (!loggedIn) {%>
        
        <li class="nav-item">
            <a class="nav-link fancy" href="/login">Signup/Login</a>
        </li>

  
        <li class="nav-item smaller">
          <form method="post" action="/login">
            <input type="hidden" name="menu" value="/">
               <small> Username: <input type="text"
                                autocomplete="username"
                                name="username"
                                size="11"> </small>
            <br>
               <small> Passphrase: <input type="password"
                                  autocomplete="passphrase"
                                  name="passphrase"
                                  size="10"> </small>
            <small><input type="submit" value="Login"></small>
           </form>
        </li>
        
        
        <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fancy" data-toggle="dropdown" href="/profile" role="button" aria-haspopup="true" aria-expanded="false"> <%= username %> </a> 
          <div class="dropdown-menu">
            
            <a class="dropdown-item fancy" href="/profile">Profile</a>
         
            <a class="dropdown-item fancy" href="/logout">Logout</a>
          </div>
        </li>
        <% } %>
      
      </ul>
    </h3>
  </div>
</nav>