<%- include('bootheader') -%>
<%- include('menubar') -%>

<!-- #4988fc, #00d652, #faa720, #ff4719, #46ebe0 -->


<div class="gradient">
  <br>
  <h1>
    <span style="color: #4988fc">Q</span><span style="color: #00d652">U</span><span style="color: #faa720">I</span><span style="color: #e600ff">Z</span><span style="color: #46ebe0">!</span>
  </h1>
  <br>
  <h3>
    Test your knowledge with our quiz on <span style="color: #4988fc">Geography,</span> <span style="color: #00d652"> Science,</span> <span style="color: #faa720"> History,</span> <span style="color: #e600ff"> Sports,</span> and <span style="color: #3ce7f0">Food!</span>
  </h3>
  <br>
</div>

<body>
  
  <!-- Example:
           Are you over 18? <br>
          yes <input type="radio" name="over 18" value="yes"> <br>
          no <input type="radio" name="over 18" value="no" <br> <br>
          don't want to say <input type="radio" name="over 18" value="maybe"<br>
-->
  
  <!-- Remember to change the name="Q1" to the question number -->
  <% if (loggedIn) { %>
  <br>
  <br>
  <br>
<div class="quizGradient">
  
  
  <div class="row">
    <div class="col"> <br>
        <h6><strong>  -----Geography----- </strong></h6> <br>
    </div>
    <div class="col">
      <h4 style="text-align:right;">
        <a href="/quiz-results" style="color: #00d652">Leaderboards</a>
      </h4>
    </div>
  </div>
  
  <form method="post" action="/submitQuiz">
    

    
    
   <div >
<b>Q1: What is the capital of Chile? <br></b>
    Phoenix <input type="radio" name="Q1" value="Phoenix"> <br>
    Santiago <input type="radio" name="Q1" value="Santiago"> <br> <!-- correct -->
    Stockholm <input type="radio" name="Q1" value="Stockholm"> <br>
    Budapest <input type="radio" name="Q1" value="Budapest"> <br>
    
    <hr>

    <b>Q2: What is the highest mountain in Britain? <br> </b>
    Appalachian <input type="radio" name="Q2" value="Appalachian"> <br>
    Makalulu <input type="radio" name="Q2" value="Makalulu"> <br> 
    Ben Nevis <input type="radio" name="Q2" value="Ben Nevis"> <br> <!-- correct -->
    Nanga Parbat <input type="radio" name="Q2" value="Nanga Parbat"> <br>
    
    <hr>
    
  <b>  Q3: What is the smallest country in the world? <br> </b>
    Maldives <input type="radio" name="Q3" value="Maldives"> <br>
    Seychelles <input type="radio" name="Q3" value="Seychelles"> <br>
    Monaco <input type="radio" name="Q3" value="Monaco"> <br>
    Vatican City <input type="radio" name="Q3" value="Vatican City"> <br> <!-- correct -->
    
    <hr>
    
    <b>Q4: Alberta is a province of which country? <br> </b>
    Canada <input type="radio" name="Q4" value="Canada"> <br> <!-- correct -->
    Brazil <input type="radio" name="Q4" value="Brazil"> <br>
    USA <input type="radio" name="Q4" value="USA1"> <br>
    Algeria <input type="radio" name="Q4" value="Algeria"> <br>
    
    <hr>
    
    <b>Q5: How many countries still have the shilling as currency? <br> </b>
    Three - Kenya, Ethiopia, Uganda <input type="radio" name="Q5" value="Three"> <br> 
    Four – Kenya, Uganda, Tanzania and Somalia <input type="radio" name="Q5" value="Four"> <br> <!-- correct -->
    Five - Kenya, Ethiopia, Tanzania, Uganda, Somalia <input type="radio" name="Q5" value="Five"> <br>
    Six - Kenya, Madagascar, Ethiopia, Uganda, Somalia, Tanzania <input type="radio" name="Q5" value="Six"> <br>
    
    </div>
     
    <br>
     
    <h6><strong> -----Science----- </strong></h6>
     
    <br>
    <div >

    <b>Q6: Humans and chimpanzees share roughly how much DNA? <br> </b>
    98% <input type="radio" name="Q6" value="E"> <br> <!-- correct -->
    99% <input type="radio" name="Q6" value="O"> <br> 
    97% <input type="radio" name="Q6" value="U"> <br>
    95% <input type="radio" name="Q6" value="I"> <br>
    
    <hr>

    <b>Q7: What is the most abundant gas in the Earth’s atmosphere? <br> </b>
    Oxygen <input type="radio" name="Q7" value="USA2"> <br> 
    Helium <input type="radio" name="Q7" value="China"> <br> 
    Carbon dioxide <input type="radio" name="Q7" value="India"> <br>
    Nitrogen <input type="radio" name="Q7" value="Russia"> <br> <!-- correct -->
    
    <hr>
    
    <b>Q8: Roughly how long does it take for the sun’s light to reach Earth? <br> </b>
    8 days <input type="radio" name="Q8" value="Rome"> <br> 
    8 hours <input type="radio" name="Q8" value="Paris"> <br> 
    8 minutes <input type="radio" name="Q8" value="London"> <br> <!-- correct -->
    8 seconds <input type="radio" name="Q8" value="Madrid"> <br> 
    
    <hr>
    
    <b>Q9: At what temperature are Celsius and Fahrenheit equal? <br> </b>
    -40 <input type="radio" name="Q9" value="Africa"> <br> <!-- correct  -->
    100 <input type="radio" name="Q9" value="South America"> <br> 
    0 <input type="radio" name="Q9" value="Asia"> <br>
    -100 <input type="radio" name="Q9" value="Europe"> <br>
    
    <hr>
    
    <b>Q10: How many teeth does an adult human have? <br> </b>
    32 <input type="radio" name="Q10" value="Nile"> <br> <!-- correct -->
    33 <input type="radio" name="Q10" value="Congo"> <br> 
    34 <input type="radio" name="Q10" value="Yellow"> <br>
    35 <input type="radio" name="Q10" value="Lena"> <br>
    
     </div>
     
    <br>
    
   <h6><strong> -----History----- </strong></h6>
    
    <br>
    
    <div >
      
    <b>Q11: What did the Romans call Scotland? <br> </b>
    Caledonia <input type="radio" name="Q11" value="Caledonia"> <br> <!-- correct -->
    Scots <input type="radio" name="Q11" value="Scots"> <br> 
    Scottish Lowlands <input type="radio" name="Q11" value="Lowlands"> <br>
    Scottish Highlands <input type="radio" name="Q11" value="Highlands"> <br>
    
    <hr>
    
    <b>Q12: Who was made Lord Mayor of London In 1397, 1398, 1406 And 1419? <br> </b>
    Thomas Knolles <input type="radio" name="Q12" value="Knolles"> <br> 
    Richard Whittington <input type="radio" name="Q12" value="Whittington"> <br> <!-- correct -->
    William Martin <input type="radio" name="Q12" value="Martin"> <br>
    William Cauntbrigge <input type="radio" name="Q12" value="Cauntbrigge"> <br>
    
    <hr>
    
    <b>Q13: In which year was Joan of Arc burned at the stake? <br> </b>
    1427 <input type="radio" name="Q13" value="1427"> <br> 
    1430 <input type="radio" name="Q13" value="1430"> <br> 
    1431 <input type="radio" name="Q13" value="1431"> <br> <!-- correct -->
    1434 <input type="radio" name="Q13" value="1434"> <br>
    
    <hr>
    
    <b>Q14: Which English city was once known as Duroliponte? <br> </b>
    Manchester <input type="radio" name="Q14" value="Manchester"> <br> 
    Cambridge <input type="radio" name="Q14" value="Cambridge"> <br> <!-- correct -->
    Birmingham <input type="radio" name="Q14" value="Birmingham"> <br>
    London <input type="radio" name="Q14" value="London"> <br>
    
    <hr>
    
    <b>Q15: The first successful vaccine was introduced by Edward Jenner in 1796. Which disease did it guard against? <br> </b>
    Cholera <input type="radio" name="Q15" value="Cholera"> <br> 
    Smallpox <input type="radio" name="Q15" value="Smallpox"> <br> <!-- correct -->
    Typhus <input type="radio" name="Q15" value="Typhus"> <br>
    Flu <input type="radio" name="Q15" value="Flu"> <br>
    
    </div>
      
    <br>
    
   <h6><strong> -----Sports-----  </strong></h6>

    <br>
    
     <div >
    
    <b>Q16: What are the five colours of the Olympic rings (in order)? <br> </b>
    Blue, yellow, black, green and red  <input type="radio" name="Q16" value="BYBGR"> <br> <!-- correct -->
    Blue, red, green, yellow, black <input type="radio" name="Q16" value="BRGYB"> <br> 
    Red, green, black, blue, yellow <input type="radio" name="Q16" value="RGBBY"> <br>
    Red, black, green, blue, yellow <input type="radio" name="Q16" value="RBGBY"> <br>
    
    <hr>
    
    <b>Q17: How many players are there in a rugby league team? <br> </b>
    12 <input type="radio" name="Q17" value="12"> <br> 
    13 <input type="radio" name="Q17" value="13"> <br> <!-- correct -->
    14 <input type="radio" name="Q17" value="14"> <br>
    15 <input type="radio" name="Q17" value="15"> <br>
    
    <hr>
    
    <b>Q18: Which horse is the only three-time winner of the Grand National? <br> </b>
    Foinavon <input type="radio" name="Q18" value="Foinavon"> <br> 
    Mr Frisk <input type="radio" name="Q18" value="Mr Frisk"> <br> 
    Red Rum <input type="radio" name="Q18" value="Red Rum"> <br> <!-- correct -->
    Aldaniti <input type="radio" name="Q18" value="Aldaniti"> <br>
    
    <hr>
    
    <b>Q19: In tennis, what piece of fruit is found at the top of the men's Wimbledon trophy? <br> </b>
    Dragonfruit <input type="radio" name="Q19" value="Dragonfruit"> <br> 
    Passionfruit <input type="radio" name="Q19" value="Passionfruit"> <br> 
    Pear <input type="radio" name="Q19" value="Pear"> <br>
    Pineapple <input type="radio" name="Q19" value="Pineapple"> <br> <!-- correct -->
    
    <hr>
    
    <b>Q20: How many world titles has Phil Talyor won in darts? <br> </b>
    16 <input type="radio" name="Q20" value="16"> <br> <!-- correct -->
    17 <input type="radio" name="Q20" value="17"> <br> 
    18 <input type="radio" name="Q20" value="18"> <br>
    19 <input type="radio" name="Q20" value="19"> <br>
       
    </div>
    
    <br>
    
  <h6><strong>  -----Food and Drink-----  </strong></h6>
    
    <br>
    
    <div >
    
    <b>Q21: Which nuts are used in marzipan? <br> </b>
    Almonds <input type="radio" name="Q21" value="Almonds"> <br> <!-- correct -->
    Peanuts <input type="radio" name="Q21" value="Peanuts"> <br> 
    Cashews <input type="radio" name="Q21" value="Cashews"> <br>
    Walnuts <input type="radio" name="Q21" value="Walnuts"> <br>

    <hr>

    <b>Q22: What is the most famous Mexican beer? <br> </b>
    Budweiser <input type="radio" name="Q22" value="Budweiser"> <br> 
    Heineken <input type="radio" name="Q22" value="Heineken"> <br> 
    Corona <input type="radio" name="Q22" value="Corona"> <br> <!-- correct -->
    Stella Artois <input type="radio" name="Q22" value="Stella Artois"> <br>

    <hr>

    <b>Q23: Which country is the origin of the cocktail Mojito? <br> </b>
    Mexico <input type="radio" name="Q23" value="Mexico"> <br>
    Cuba <input type="radio" name="Q23" value="Cuba"> <br> <!-- correct -->
    Italy <input type="radio" name="Q23" value="Italy"> <br>
    Spain <input type="radio" name="Q23" value="Spain"> <br>

    <hr>

    <b>Q24: Which vitamin is the only one that you will not find in an egg? <br> </b>
    Vitamin A <input type="radio" name="Q24" value="Vitamin A"> <br> 
    Vitamin B <input type="radio" name="Q24" value="Vitamin B"> <br> 
    Vitamin C <input type="radio" name="Q24" value="Vitamin C"> <br> <!-- correct -->
    Vitamin D <input type="radio" name="Q24" value="Vitamin D"> <br>

    <hr>

    <b>Q25: Which fish is the main ingredient of Scotch Woodcock?  <br> </b>
    Anchovy <input type="radio" name="Q25" value="Anchovy"> <br> <!-- correct -->
    Striped Bass <input type="radio" name="Q25" value="Striped Bass"> <br> 
    Salmon <input type="radio" name="Q25" value="Salmon"> <br>
    Flounder <input type="radio" name="Q25" value="Flounder"> <br>
   
    
    </div>
    </div>
    <br>
    <input type = "submit" value = "Submit quiz!" style="width: 120px; height: 50px">
  </form>

  <% } else { %>
  <br>
  <div class="row">
    <div class="col">
      <h4>
        Please <a href="/login">Login or Signup</a> to take the quiz. 
      </h4>
    </div>
    <div class="col">
      <h4 style="text-align:right;">
        <a href="/quiz-results">Leaderboards</a>
      </h4>
    </div>
  </div>
  <% } %>
  
</body>

<hr>
  
<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>