<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Xolbor Games</h1>
  <p>~Not Roblox~</p>
</div>
<hr>

<h3> Sign In </h3>

Username
<input type="text" name="username" placeholder="Enter your username"> <br>

Password
<input type="password" name="password" placeholder="Enter your password"> <br>



<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>