<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="gradient">
  <br>
  <h1>
    Testing/Tutorial
  </h1>
  <br>
  <h3>
    This is your tutorial to the website
  </h3>
  <br>
</div>
<br>
<ol><strong>
  <li>Go ahead. Don't be afraid. You can Login/Signup today!</li> <br>
  <li>You can check out the chat room and type out to talk to other people on the same website! 
    Your chat responses will stay there for 10 minutes. Be friendly and be PG!</li> <br>
  <li>Check out our About-Us Page!!!</li> <br>
  <li>You can also check out your personal profile!</li> <br>
  <li>Go to games, and try find the number! Insert a number and try to guess the randomly generated number. 
    There is a leaderboards that you can try to beat ;)</li> <br>
  <li>Mafia is being debugged at the moment, so it is unavailiable. However, feel free to try the Quiz! 
    Test your knowledge of Geography, Sceince, History, Sports, and Food!
    You can check out the leaderboards on that page as well to see how much you need to get that Victory Royale #1 :D. </li> <br>
  <li>Xolcraft is our last availiable game. This is creative game that will test your freedom and creativity. 
    It is relaxing and therapeutic, so feel free to try it out!</li> <br>
  <li>After you're done with those games, you can also check out the survey at the end to give us a review for us to see how to imporve.
    There is also the forum where you can comment about our games. </li> <br>
  <li>Finally, take a survey to tell us how you liked our games, and give us some feedback!</li>
</ol></strong>

<%- include('bootfooter') -%>