<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="gradient">
  <br>
  <h1>Xolcraft Controls!</h1>
  <br>
  <br>
  <strong>
  WASD or Arrow Keys - Movement Keys <br>
  Drag the mouse to look around! <br>
  Click to place a block/change the color! <br>
  F - Full Screen
  </strong>
  <br>
  <h3><a class="nav-link" href="/xolcraft" id="linkToXolcraft"> Click Here to proceed to the game!</a></h3>
  <br>
  <br>
  *Note: Xolcraft is our only game that is not mobile-friendly. If on mobile, please play one of our other games.
</div> <!-- Yooo Sean, i made comments on the last google slide on our presentation. There were a couple things we needed to change
for the actual presentation-->

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>